addict==2.4.0
albumentations==1.3.0
einops==0.6.0
git+https://github.com/huggingface/accelerate
git+https://github.com/huggingface/diffusers
gradio==3.36.1
imageio==2.25.0
imageio-ffmpeg==0.4.8
kornia==0.6.9
omegaconf==2.3.0
open-clip-torch==2.13.0
opencv-contrib-python==4.7.0.68
opencv-python-headless==4.7.0.68
prettytable==3.6.0
pytorch-lightning==1.9.0
safetensors
timm==0.6.12
torch
torchvision
transformers
xformers
yapf==0.32.0
cvlib==0.2.7
tensorflow-cpu
basicsr==1.4.2